*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --padding-main: 20px
}
nav{
  margin:  0px 20px;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-main);
  height: 10vh;
  border-bottom: 1px solid rgb(74, 69, 69);
}
nav p{
    font-size: large;
}
nav span{
    font-weight: bolder;   
}
a{
    margin: 30px;
    text-decoration: none;
    color: black;
}
/* section 1 */
.img{
    height: 90vh;
    background-image: url(photo_٢٠٢٣-٠٣-١٤_١٧-٥٠-٣٣\ \(2\).jpg);
    width: 100%;
    background-size: cover;
}
.img p {
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    font-size: xx-large;
}
.img span{
    background-color: rgba(0, 0, 0, 0.585);
    padding: 5px;
    border-radius: 6px;
}
/* end section 1 */

/* section 2 */

.projects,.About,.contact{
    margin: 10px 20px;
    max-width: 100vw;
}
.projects h1, .contact h1, .About h1{
    padding: 10px 0px ;
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
}
.projects img{
    max-width: 100%;
}
.projects .projects-contenar{
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
    position: relative;
}
.first{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 150px;
    height: 50px;
    background-color: black;
    text-align: center;
    padding-top:10px ;
}
.info{
    margin: 5px 0px;
    color: gray;
}
.discrption{
    width: 400px;
}
button{
    margin: 20px 0px;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
input, textarea{
    padding: 5px;
    margin: 10px;
    width: 100% ;
    border-radius: 5px;
    border: 1px solid grey;
}

.bt{
    padding: 10px 30px;
    width: auto;
    background-color: black;
    color: white;
}

footer{
    margin: 20px 10px;
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
footer span{
    color: yellow;
}

